<style>
    #cookie-notice {padding: 0.5rem 1rem; display: none; text-align: center; position: fixed; bottom: 0; width: calc(100% - 2rem); background: #222; color: rgba(255,255,255,0.8);}
    #cookie-notice a {display: inline-block; cursor: pointer; margin-left: 0.5rem;}
    @media (max-width: 767px) {
        #cookie-notice span {display: block; padding-top: 3px; margin-bottom: 1rem;}
        #cookie-notice a {position: relative; bottom: 4px;}
    }
</style>
<div id="cookie-notice"><span>This website is hosted by GitLab. On this website, GitLab collects standard web server logging data (i.e. user agent, IP address of requestor, requested URL).</span><a href="/privacy" class="btn btn-primary btn-sm">More info</a></div>
<script>
    document.getElementById('cookie-notice').style.display = 'block';
</script>
