<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{ site.description }}</p>
        <p><br></p>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.copyright_statement }}</p>
        <p><a href={{ site.contact }}>Contact DerAndere</a></p>
        <p><a href="https://www.paypal.com/donate/?hosted_button_id=TNGG65GVA9UHE">Donate</a></p>
      </div>

    </div>

  </div>

</footer>
