<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta content='same-origin' name='referrer'/>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  
  {% comment %}
    See http://docs.mathjax.org/en/latest/, http://docs.mathjax.org/en/latest/options/
  {% endcomment %}
  <script>
    MathJax = {
      loader: {load: ['[tex]/mhchem', '[tex]/physics']},
      tex: {
        packages: {'[+]': ['mhchem', 'physics']},
        inlineMath: [ ['$','$'] ],
        tags: 'all',
        processEscapes: true
      }
    };
  </script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
  {% if site.tags != "" %}
    {% include collecttags.html %}
  {% endif %}

</head>
