{% comment %}
  Copyright 2015 Christian Specht
  See https://christianspecht.de/2015/04/16/generating-sitemap-xml-in-jekyll-without-using-plugins/ 
{% endcomment %}

<url>
	<loc>{{ site.url }}{{ site.baseurl }}{{ include.url }}</loc> 
</url>
