---
layout: default
---

{% comment %}
  Copyright 2020 DerAndere
  Based on:
    https://kylewbanks.com/blog/creating-category-pages-in-jekyll-without-plugins
    Copyright 2016 Kyle Banks
  And based on:
    https://christianspecht.de/2014/10/25/separate-pages-per-tag-category-with-jekyll-without-plugins/
    Copyright 2014 Christian Specht
{% endcomment %}

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="page-related">
      {% assign tagz = page.tags %}
      {% assign categoriez = page.categories %}
      {% if categoriez %}
        <div class="this-category">
        Articles in this category:
        <ul>
        {% for entry in site.categories[categoriez] %}
          <li>
            <a href="{{ entry.url }}">{{ entry.title }}</a>
          </li>
        {% endfor %}
        </ul>
        </div>
      {% endif %}
  </div>


{% comment %}
<ul>
{% for post in site.categories[page.categories] %}
  <li>
    {{ post.date | date: "%Y-%m-%d" }}: <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
{% endfor %}
</ul>
{% endcomment %}

</article>
