<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {% comment %}
      See https://github.com/poole/hyde
    {% endcomment %}
    {% include sidebar.html %}

   <div class="page-tags">
    <div class="wrapper">
      {% assign tags = page.tags %}
      {% if tags %}
        <div class="related-tags">
          tags:
          {% for tag in tags %}
            <a href="{{site.baseurl}}/tags/#{{tag|slugize}}">{{tag}}</a>
            {% unless forloop.last %}
              &nbsp;
            {% endunless %}
          {% endfor %}
        </div>
      {% endif %}
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content | replace: '<a href="http', '<a rel="nofollow noopener noreferrer" href="http' }}
      </div>
    </div>

    <div class="page-related">
      <div class="wrapper">
        {% assign tagz = page.tags %}
        {% if tagz %}
        <div class="related-topics">
          Similar topics:
          {% for tag in tagz %}
            <a href="{{site.baseurl}}/tags/#{{tag|slugize}}">{{tag}}</a>
            {% unless forloop.last %}
              &nbsp;
            {% endunless %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>

      {% include footer.html %}
      {% include cookie-notice.html %}

  </body>

</html>
